/* .email-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
  align-items: center;
  
  justify-content: center;
}

.page {
  display: flex;
}

.email-list-page {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #cfd2dc;
  font-size: 14px;
  width: 100%;
  max-height: 100px;
}

.email-list.split {
  width: 33.33%;
}

.email-body {
  width: 100%;
}

.email-body.split {
  width: 66.66%;
}

.text {
  color: #636363;
}

.email-item:hover {
  background-color: #f9f9f9;
  border-color: #e54065;
}

.email-item.read {
  color: #999;
}

.email-item.unread {
  font-weight: bold;
  color: #333;
}

.email-item.favorite {
}

.email-item-avatar {
  width: 48px;
  height: 48px;
  align-self: start;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #e54065;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin-right: 16px;
}

.email-item-content {
  margin-left: 10px;
  align-self: start;
}

.email-item-from {
  display: flex;
  gap: 10px;
}

.from-name {
  text-transform: capitalize;
}

.email-item-subject {
  flex: 1;
  margin-bottom: 10px;
}

.email-item-desc {
  margin-bottom: 10px;
}

.email-item-date {
  font-size: 12px;
}

.email-item-information {
  display: flex;
  gap: 10px;
}

.email-item-action {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.fav {
  border: none;
  background-color: #f4f5f9;
  color: #e54065;
  font-weight: bolder;
} */

.page {
}

.email-conatiner {
}

.email-list-page {
  border: 1px solid #cfd2dc;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.email-list-page.selected {
  border: 1px solid #e54065;
}

.email-item-avatar {
  width: 48px;
  height: 48px;
  align-self: start;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #e54065;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin-right: 16px;
}

.email-item-content {
  margin-left: 10px;
  align-self: start;
  justify-content: center;
}

.email-item-from {
  display: flex;
  gap: 10px;
  color: #636363;
}

.text {
  color: #636363;
  font-weight: bold;
}

.from-name {
  text-transform: capitalize;
}

.from-email {
  font-size: 15px;
}

.email-item-subject {
  margin-bottom: 10px;
  color: #636363;
}

.email-item-desc {
  color: #636363;

  margin-bottom: 10px;
}

.email-item-information {
  display: flex;
  gap: 20px;
  align-items: center;
}

.email-item-date {
  font-size: 14px;
  color: #636363;
}

.email-item-fav {
  border: none;
  background-color: #f4f5f9;
  color: #e54065;
  font-weight: bolder;
  font-size: 15px;
}

.email-list-page.selected {
  color: #e54065;
}
