.email-list-page {
  border: 1px solid #cfd2dc;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.email-list-page.selected {
  border: 2px solid #e54065;
}

.email-list-page.read {
  background-color: #f2f2f2;
}

.email-list-page.unread {
  background-color: white;
}

.email-item-avatar {
  width: 48px;
  height: 48px;
  align-self: start;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #e54065;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  margin-right: 16px;
}

.email-item-content {
  margin-left: 10px;
  align-self: start;
  justify-content: center;
}

.email-item-from {
  display: flex;
  gap: 10px;
  color: #636363;
}

.text {
  color: #636363;
  font-weight: bold;
}

.from-name {
  text-transform: capitalize;
}

.from-email {
  font-size: 15px;
}

.email-item-subject {
  margin-bottom: 10px;
  color: #636363;
}

.email-item-desc {
  color: #636363;

  margin-bottom: 10px;
}

.email-item-information {
  display: flex;
  gap: 20px;
  align-items: center;
}

.email-item-date {
  font-size: 14px;
  color: #636363;
}

.email-item-fav {
  border: none;
  background-color: transparent;
  color: #e54065;
  font-weight: bolder;
  font-size: 15px;
}

.email-list-page.selected {
  color: #e54065;
}
